body
{
    background-color: #cccccc;
    font-family: monospace;
}

#baseContainer
{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}

#topBarGridContainer
{
    grid-template-columns: auto auto auto;
    display: grid;
}

.topBarGridItem
{
    text-align: center;
    padding: 5px;
}

.topBarButton {
    font-weight: bold;
    display: block;
    width: 80%;
    height: 55%; /* tuned to vertically center the text */
    text-align: center;
    padding: 5px 0px; /* tuned to vertically center the button */
    margin: auto;
    cursor: pointer;
}

.rectDropButton
{
    background-color: #dddddd;
    margin: 5px;
    padding: 5px;
    border: 2px solid #222222;
    border-bottom-width: 4px;
    cursor: pointer;
}

.rectDropButton:hover
{
    background-color: #ffffff;
}

#titleSpan
{
    background-color: yellow;
}

#titleDiv
{
    background-color: yellow;
    cursor: auto;
}

input[type="file"]
{
    display: none;
}

#listContainer
{
    grid-template-columns: auto auto auto;
    display: grid;
}

.userList
{
    background-color: #eeeeee;
    margin: 5px;
    padding: 5px;
}

.userCard
{
    background-color: #dddddd;
    margin: 5px;
    padding: 5px;
    border: 2px solid #222222;
    border-bottom-width: 4px;
    cursor: pointer;
}

.label
{
    font-size: 0.85em;
    text-align: center;
    background-color: yellow;
    color: #222222;
    margin: auto;
    width: 80%;
    padding: 1px;
    border-radius: 9px;
}

.labelContainer
{
    margin-top: 5px;
    grid-template-columns: auto auto auto;
    display: grid;
}

/*
* Does double duty as both a container div, and a transparent background.
*/
.modalContainer
{
    display: none; /* until changed */
    position: fixed;
    z-index: 1; /* on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.modalContent
{
    margin: 15% auto;
    padding: 5px;
    width: 50%;
    background-color: white;
}

.modalCloseButton
{
    float: right;
}
