body
{
    background-color: rgb(255, 0, 0);
    font-family: monospace;
}

#baseContainer
{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}

#topBarGridContainer
{
    grid-template-columns: auto auto auto;
    display: grid;
}

#topBarTitleDiv
{
    background-color: rgb(253, 255, 227);
    font-family: serif;
    font-weight: bold;
    font-size: 17pt;
}

.topBarGridItem
{
    text-align: center;
    background-color: azure;
    padding: 5px;
}

.topBarButton {
    font-weight: bold;
    background-color: #dddddd;
    display: block;
    width: 80%;
    height: 55%; /* tuned to vertically center the text */
    text-align: center;
    padding: 5px 0px; /* tuned to vertically center the button */
    margin: auto;
    border: 2px solid black;
    border-bottom-width: 2px;
    border-bottom-width: 4px;
    cursor: pointer;
}

input[type="file"]
{
    display: none;
}

#listContainer
{
    background-color: rgb(0, 255, 85);
    grid-template-columns: auto auto auto;
    display: grid;
    column-gap: 50px;
}

.userList
{
    background-color: rgb(218, 255, 229);
    margin: 5px;
    padding: 5px;
}

.userCard
{
    background-color: rgb(240, 255, 240);
    margin: 5px;
    padding: 5px;
}

#modalDownloadContainer
{
    display: none; /* until changed */
    position: fixed;
    z-index: 1; /* on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

#modalDownloadContent
{
    margin: 15% auto;
    padding: 5px;
    width: 50%;
    background-color: white;
}

#modalDownloadCloseButton
{
    float: right;
}
