:root
{
    --accent-color: rgb(0, 255, 200);
    --fg-color: white;
    --bg-color: #eeeeee;
}

body
{
    font-family: monospace;
    background-color: var(--bg-color);
}

div
{
    background-color: var(--fg-color);
    height: 100%;
    box-sizing: border-box;
}

.arrow
{
    /* Indicate to user arrows are clickable. */
    color: blue;
    
    /* Required for vertical centering */
    display: grid;
    align-items: center;

    text-align: center;

    border: solid blue 1px;
}

.cardContainer
{
    display: grid;
    text-align: center;
    grid-template-rows: auto auto auto;

    /* Want card title to be wider than arrows. */
    grid-template-columns: 10% auto 10%;
}

.addCardButton
{
    /* Indicate to user this div is special. */
    color: green;
    
    text-align: center;
    border : solid green 1px;
    box-sizing: border-box;
    
    /* Don't want button text against edge of button. */
    display: flex;
    align-items: center;
    justify-content: center;    
}

.addListButton
{
    /* Indicate to user this div is special. */
    color: green;
    
    text-align: center;
    border : solid green 1px;
    
    /* Don't want button text against edge of button. */
    display: flex;
    align-items: center;
    justify-content: center;    
}

.deleteButton
{
    /* Indicate to user this div is special. */
    color: red;
    
    text-align: center;
    border : solid red 1px;

    /* Don't want button text against edge of button. */
    display: flex;
    align-items: center;
    justify-content: center;    
}

.cardCell
{
    /* Actual value not so important.  Just best that 
       cards all have consistent height. */
    height: 50px;

    /* Want some blank space around card title 
       for ease of reading */
    padding: 5px;
}

.deleteButton
{
    /* Actual value not so important.  Just best that 
       delete buttons all have consistent height. */
    height: 50px;
}

.addCardButton
{
    /* Width, height and x-position should match the
       divs which house cards' titles. */
    width: 80%;
    height: 50px;
    margin: auto;
}