:root
{
    --accent-color: rgb(0, 255, 200);
    --fg-color: white;
    --bg-color: #eeeeee;
}

body
{
    font-family: monospace;
    background-color: var(--bg-color);
}

div
{
    background-color: var(--fg-color);
    height: 100%;
    box-sizing: border-box;
}

.arrow
{
    /* Indicate to user arrows are clickable. */
    color: blue;
    
    /* Required for vertical centering. */
    display: grid;
    align-items: center;

    text-align: center;

    border: solid blue 1px;
}

.cardContainerAggregate
{
    display: grid;
    text-align: center;
    grid-template-rows: auto auto auto;

    /* Want card title to be wider than arrows. */
    grid-template-columns: 10% auto 10%;
}

.addCardButton
{
    /* Indicate to user this div is special. */
    color: green;
    
    text-align: center;
    border : solid green 1px;
    
    /* Don't want button text against edge of button. */
    display: flex;
    align-items: center;
    justify-content: center;    
    
    /* Width, height and x-position should match the
       divs which house cards' titles. */
    width: 80%;
    height: 50px;
    margin: auto;
}

.addListButton
{
    /* Indicate to user this div is special. */
    color: green;
    
    text-align: center;
    border : solid green 1px;
    
    /* Don't want button text against edge of button. */
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    margin: 5px;
}

.deleteButton
{
    /* Indicate to user this div is special. */
    color: red;
    
    text-align: center;
    border : solid red 1px;

    /* Don't want button text against edge of button. */
    display: flex;
    align-items: center;
    justify-content: center;    

    /* Actual value not so important.  Just best that 
       delete buttons all have consistent height. */
    height: 50px;
}

.cardCell
{
    /* Actual value not so important.  Just best that 
       cards all have consistent height. */
    height: 50px;

    /* Want some blank space around card title 
       for ease of reading. */
    padding: 5px;
}


.listTopLevelContainer
{
    display: grid;
    height: fit-content;
    column-gap: 5px;

    /* Want side columns to be narrow than center column. */
    grid-template-columns: 1fr 6fr 1fr;
}

.listMiddleColumnContainer
{
    display: grid;
    row-gap: 5px;
}

.listTopRow
{
    display: grid;
    
    /* Want delete button to be narrower than title div. */
    grid-template-columns: 3fr 1fr;
}

.cardTopRowFocused
{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.cardContainerFocused
{
    display: grid;
    margin: 50px;
    padding: 10px;
    border: solid black 1px;
    row-gap: 10px;
}

.cardBackButton
{
    /* Indicate to user button is clickable. */
    color: blue;
    
    /* Required for vertical centering. */
    display: grid;
    align-items: center;

    text-align: center;

    border: solid blue 1px;
}

.labelDiv
{
    /* Indicate to user label is clickable. */
    color: blue;
    
    /* Required for vertical centering. */
    display: grid;
    align-items: center;

    text-align: center;

    border: solid blue 1px;
    
    padding: 10px;
    height: fit-content;
}

.labelContainer
{
    display: grid;
    column-gap: 10px;
}

.note
{
    /* HTML textarea elts unfortunately do not 
       auto-scale to fit contents.  Allow some room. */
    height: 50vh;
}